:root {
    background-color: azure;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    font-size: 5.4rem;
    color:black;
    margin-bottom: 3rem;

}
h2{
    font-size: 4.2rem;
    margin-bottom: 4rem;
}
.container {
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.text-center {
    text-align : center;
}

.justify-center {
    justify-content: center;
}


.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align : center;
}

.hidden{
    display : none;
}

.btn {
    font-size: 2.4rem;
    padding: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;
    background: linear-gradient(90deg , rgb(9, 76 ,105) 0%, rgb(0,102,255) 100% );
    border-radius: 40px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1.2rem 0  rgba(9, 76 ,105, 0.3) ;
    transition: transform 165ms;
    transform: scale(1.06);
}


.btn[disabled]:hover {
    cursor : not-allowed;
    box-shadow: none;
    transform: none;
}


#highscore-btn {
    background: linear-gradient(90deg , rgb(100, 17 ,75) 0%, rgb(92,17,255) 100% );
}

#highscore-btn:hover {
   box-shadow:0 0.5rem 1.2rem 0  rgba(9, 76 ,105, 0.3) ; 
}